---
// import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
// import { Collapse, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
// import FriendList from '@/components/links/FriendList.astro'

// const { friends } = links
const linksConf = config.integ.links
---
{/*
<PageLayout title='Links' {headings} info='/links'>
  <p>怎么可能有顺序呢，当然是随机的~ It's random</p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <Collapse title='Links with Bad Status'>
    <FriendList list={friends[1]} />
  </Collapse>
  <Collapse title='Link History Book'>
    <Timeline events={linksConf.logbook} />
  </Collapse>
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[2]} />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息如下 The site information（点击快速复制）：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    申请时还请按照这个模板留言（<a
      href='https://github.com/cworld1/astro-theme-pure/blob/main/public/links.json'
      target='_blank'>提交 PR</a
    > 或许也是个更快的办法）。此外有关申请说明：
  </p>
  <ul>
    <li>在你的友链上添加了本站；</li>
    <li>请确保你的站点活着；</li>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
*/}

<PageLayout title='Links' info='/links'>
  <p>友链通过率<svg xmlns="http://www.w3.org/2000/svg" width="50ex" height="10ex" viewBox="0 -1345 20632.4 2098.5" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" style=""><defs><path id="MJX-115-TEX-N-30" d="M96 585Q152 666 249 666Q297 666 345 640T423 548Q460 465 460 320Q460 165 417 83Q397 41 362 16T301 -15T250 -22Q224 -22 198 -16T137 16T82 83Q39 165 39 320Q39 494 96 585ZM321 597Q291 629 250 629Q208 629 178 597Q153 571 145 525T137 333Q137 175 145 125T181 46Q209 16 250 16Q290 16 318 46Q347 76 354 130T362 333Q362 478 354 524T321 597Z"></path><path id="MJX-115-TEX-N-3D" d="M56 347Q56 360 70 367H707Q722 359 722 347Q722 336 708 328L390 327H72Q56 332 56 347ZM56 153Q56 168 72 173H708Q722 163 722 153Q722 140 707 133H70Q56 140 56 153Z"></path><path id="MJX-115-TEX-N-6C" d="M42 46H56Q95 46 103 60V68Q103 77 103 91T103 124T104 167T104 217T104 272T104 329Q104 366 104 407T104 482T104 542T103 586T103 603Q100 622 89 628T44 637H26V660Q26 683 28 683L38 684Q48 685 67 686T104 688Q121 689 141 690T171 693T182 694H185V379Q185 62 186 60Q190 52 198 49Q219 46 247 46H263V0H255L232 1Q209 2 183 2T145 3T107 3T57 1L34 0H26V46H42Z"></path><path id="MJX-115-TEX-N-69" d="M69 609Q69 637 87 653T131 669Q154 667 171 652T188 609Q188 579 171 564T129 549Q104 549 87 564T69 609ZM247 0Q232 3 143 3Q132 3 106 3T56 1L34 0H26V46H42Q70 46 91 49Q100 53 102 60T104 102V205V293Q104 345 102 359T88 378Q74 385 41 385H30V408Q30 431 32 431L42 432Q52 433 70 434T106 436Q123 437 142 438T171 441T182 442H185V62Q190 52 197 50T232 46H255V0H247Z"></path><path id="MJX-115-TEX-N-6D" d="M41 46H55Q94 46 102 60V68Q102 77 102 91T102 122T103 161T103 203Q103 234 103 269T102 328V351Q99 370 88 376T43 385H25V408Q25 431 27 431L37 432Q47 433 65 434T102 436Q119 437 138 438T167 441T178 442H181V402Q181 364 182 364T187 369T199 384T218 402T247 421T285 437Q305 442 336 442Q351 442 364 440T387 434T406 426T421 417T432 406T441 395T448 384T452 374T455 366L457 361L460 365Q463 369 466 373T475 384T488 397T503 410T523 422T546 432T572 439T603 442Q729 442 740 329Q741 322 741 190V104Q741 66 743 59T754 49Q775 46 803 46H819V0H811L788 1Q764 2 737 2T699 3Q596 3 587 0H579V46H595Q656 46 656 62Q657 64 657 200Q656 335 655 343Q649 371 635 385T611 402T585 404Q540 404 506 370Q479 343 472 315T464 232V168V108Q464 78 465 68T468 55T477 49Q498 46 526 46H542V0H534L510 1Q487 2 460 2T422 3Q319 3 310 0H302V46H318Q379 46 379 62Q380 64 380 200Q379 335 378 343Q372 371 358 385T334 402T308 404Q263 404 229 370Q202 343 195 315T187 232V168V108Q187 78 188 68T191 55T200 49Q221 46 249 46H265V0H257L234 1Q210 2 183 2T145 3Q42 3 33 0H25V46H41Z"></path><path id="MJX-115-TEX-I-1D465" d="M52 289Q59 331 106 386T222 442Q257 442 286 424T329 379Q371 442 430 442Q467 442 494 420T522 361Q522 332 508 314T481 292T458 288Q439 288 427 299T415 328Q415 374 465 391Q454 404 425 404Q412 404 406 402Q368 386 350 336Q290 115 290 78Q290 50 306 38T341 26Q378 26 414 59T463 140Q466 150 469 151T485 153H489Q504 153 504 145Q504 144 502 134Q486 77 440 33T333 -11Q263 -11 227 52Q186 -10 133 -10H127Q78 -10 57 16T35 71Q35 103 54 123T99 143Q142 143 142 101Q142 81 130 66T107 46T94 41L91 40Q91 39 97 36T113 29T132 26Q168 26 194 71Q203 87 217 139T245 247T261 313Q266 340 266 352Q266 380 251 392T217 404Q177 404 142 372T93 290Q91 281 88 280T72 278H58Q52 284 52 289Z"></path><path id="MJX-115-TEX-N-2192" d="M56 237T56 250T70 270H835Q719 357 692 493Q692 494 692 496T691 499Q691 511 708 511H711Q720 511 723 510T729 506T732 497T735 481T743 456Q765 389 816 336T935 261Q944 258 944 250Q944 244 939 241T915 231T877 212Q836 186 806 152T761 85T740 35T732 4Q730 -6 727 -8T711 -11Q691 -11 691 0Q691 7 696 25Q728 151 835 230H70Q56 237 56 250Z"></path><path id="MJX-115-TEX-N-73" d="M295 316Q295 356 268 385T190 414Q154 414 128 401Q98 382 98 349Q97 344 98 336T114 312T157 287Q175 282 201 278T245 269T277 256Q294 248 310 236T342 195T359 133Q359 71 321 31T198 -10H190Q138 -10 94 26L86 19L77 10Q71 4 65 -1L54 -11H46H42Q39 -11 33 -5V74V132Q33 153 35 157T45 162H54Q66 162 70 158T75 146T82 119T101 77Q136 26 198 26Q295 26 295 104Q295 133 277 151Q257 175 194 187T111 210Q75 227 54 256T33 318Q33 357 50 384T93 424T143 442T187 447H198Q238 447 268 432L283 424L292 431Q302 440 314 448H322H326Q329 448 335 442V310L329 304H301Q295 310 295 316Z"></path><path id="MJX-115-TEX-N-6E" d="M41 46H55Q94 46 102 60V68Q102 77 102 91T102 122T103 161T103 203Q103 234 103 269T102 328V351Q99 370 88 376T43 385H25V408Q25 431 27 431L37 432Q47 433 65 434T102 436Q119 437 138 438T167 441T178 442H181V402Q181 364 182 364T187 369T199 384T218 402T247 421T285 437Q305 442 336 442Q450 438 463 329Q464 322 464 190V104Q464 66 466 59T477 49Q498 46 526 46H542V0H534L510 1Q487 2 460 2T422 3Q319 3 310 0H302V46H318Q379 46 379 62Q380 64 380 200Q379 335 378 343Q372 371 358 385T334 402T308 404Q263 404 229 370Q202 343 195 315T187 232V168V108Q187 78 188 68T191 55T200 49Q221 46 249 46H265V0H257L234 1Q210 2 183 2T145 3Q42 3 33 0H25V46H41Z"></path><path id="MJX-115-TEX-N-2061" d=""></path><path id="MJX-115-TEX-N-63" d="M370 305T349 305T313 320T297 358Q297 381 312 396Q317 401 317 402T307 404Q281 408 258 408Q209 408 178 376Q131 329 131 219Q131 137 162 90Q203 29 272 29Q313 29 338 55T374 117Q376 125 379 127T395 129H409Q415 123 415 120Q415 116 411 104T395 71T366 33T318 2T249 -11Q163 -11 99 53T34 214Q34 318 99 383T250 448T370 421T404 357Q404 334 387 320Z"></path><path id="MJX-115-TEX-N-6F" d="M28 214Q28 309 93 378T250 448Q340 448 405 380T471 215Q471 120 407 55T250 -10Q153 -10 91 57T28 214ZM250 30Q372 30 372 193V225V250Q372 272 371 288T364 326T348 362T317 390T268 410Q263 411 252 411Q222 411 195 399Q152 377 139 338T126 246V226Q126 130 145 91Q177 30 250 30Z"></path><path id="MJX-115-TEX-N-31" d="M213 578L200 573Q186 568 160 563T102 556H83V602H102Q149 604 189 617T245 641T273 663Q275 666 285 666Q294 666 302 660V361L303 61Q310 54 315 52T339 48T401 46H427V0H416Q395 3 257 3Q121 3 100 0H88V46H114Q136 46 152 46T177 47T193 50T201 52T207 57T213 61V578Z"></path><path id="MJX-115-TEX-N-25" d="M465 605Q428 605 394 614T340 632T319 641Q332 608 332 548Q332 458 293 403T202 347Q145 347 101 402T56 548Q56 637 101 693T202 750Q241 750 272 719Q359 642 464 642Q580 642 650 732Q662 748 668 749Q670 750 673 750Q682 750 688 743T693 726Q178 -47 170 -52Q166 -56 160 -56Q147 -56 142 -45Q137 -36 142 -27Q143 -24 363 304Q469 462 525 546T581 630Q528 605 465 605ZM207 385Q235 385 263 427T292 548Q292 617 267 664T200 712Q193 712 186 709T167 698T147 668T134 615Q132 595 132 548V527Q132 436 165 403Q183 385 203 385H207ZM500 146Q500 234 544 290T647 347Q699 347 737 292T776 146T737 0T646 -56Q590 -56 545 0T500 146ZM651 -18Q679 -18 707 24T736 146Q736 215 711 262T644 309Q637 309 630 306T611 295T591 265T578 212Q577 200 577 146V124Q577 -18 647 -18H651Z"></path></defs><g stroke="currentColor" fill="currentColor" stroke-width="0" transform="matrix(1 0 0 -1 0 0)"><g data-mml-node="math"><g data-mml-node="mfrac"><g data-mml-node="mn" transform="translate(220, 676)"><use xlink:href="#MJX-115-TEX-N-30"></use></g><g data-mml-node="mn" transform="translate(220, -686)"><use xlink:href="#MJX-115-TEX-N-30"></use></g><rect width="700" height="60" x="120" y="220"></rect></g><g data-mml-node="mo" transform="translate(1217.8, 0)"><use xlink:href="#MJX-115-TEX-N-3D"></use></g><g data-mml-node="munder" transform="translate(2273.6, 0)"><g data-mml-node="mo" transform="translate(38.1, 0)"><use xlink:href="#MJX-115-TEX-N-6C"></use><use xlink:href="#MJX-115-TEX-N-69" transform="translate(278, 0)"></use><use xlink:href="#MJX-115-TEX-N-6D" transform="translate(556, 0)"></use></g><g data-mml-node="TeXAtom" transform="translate(0, -637.9) scale(0.707)" data-mjx-texclass="ORD"><g data-mml-node="mi"><use xlink:href="#MJX-115-TEX-I-1D465"></use></g><g data-mml-node="mo" transform="translate(572, 0)"><use xlink:href="#MJX-115-TEX-N-2192"></use></g><g data-mml-node="mn" transform="translate(1572, 0)"><use xlink:href="#MJX-115-TEX-N-30"></use></g></g></g><g data-mml-node="mfrac" transform="translate(3905.3, 0)"><g data-mml-node="mrow" transform="translate(220, 676)"><g data-mml-node="mi"><use xlink:href="#MJX-115-TEX-N-73"></use><use xlink:href="#MJX-115-TEX-N-69" transform="translate(394, 0)"></use><use xlink:href="#MJX-115-TEX-N-6E" transform="translate(672, 0)"></use></g><g data-mml-node="mo" transform="translate(1228, 0)"><use xlink:href="#MJX-115-TEX-N-2061"></use></g><g data-mml-node="mi" transform="translate(1394.7, 0)"><use xlink:href="#MJX-115-TEX-I-1D465"></use></g></g><g data-mml-node="mi" transform="translate(917.3, -686)"><use xlink:href="#MJX-115-TEX-I-1D465"></use></g><rect width="2166.7" height="60" x="120" y="220"></rect></g><g data-mml-node="mo" transform="translate(6589.8, 0)"><use xlink:href="#MJX-115-TEX-N-3D"></use></g><g data-mml-node="munder" transform="translate(7645.6, 0)"><g data-mml-node="mo" transform="translate(38.1, 0)"><use xlink:href="#MJX-115-TEX-N-6C"></use><use xlink:href="#MJX-115-TEX-N-69" transform="translate(278, 0)"></use><use xlink:href="#MJX-115-TEX-N-6D" transform="translate(556, 0)"></use></g><g data-mml-node="TeXAtom" transform="translate(0, -637.9) scale(0.707)" data-mjx-texclass="ORD"><g data-mml-node="mi"><use xlink:href="#MJX-115-TEX-I-1D465"></use></g><g data-mml-node="mo" transform="translate(572, 0)"><use xlink:href="#MJX-115-TEX-N-2192"></use></g><g data-mml-node="mn" transform="translate(1572, 0)"><use xlink:href="#MJX-115-TEX-N-30"></use></g></g></g><g data-mml-node="mfrac" transform="translate(9277.4, 0)"><g data-mml-node="mrow" transform="translate(220, 676)"><g data-mml-node="mi"><use xlink:href="#MJX-115-TEX-N-63"></use><use xlink:href="#MJX-115-TEX-N-6F" transform="translate(444, 0)"></use><use xlink:href="#MJX-115-TEX-N-73" transform="translate(944, 0)"></use></g><g data-mml-node="mo" transform="translate(1338, 0)"><use xlink:href="#MJX-115-TEX-N-2061"></use></g><g data-mml-node="mi" transform="translate(1504.7, 0)"><use xlink:href="#MJX-115-TEX-I-1D465"></use></g></g><g data-mml-node="mn" transform="translate(1008.3, -686)"><use xlink:href="#MJX-115-TEX-N-31"></use></g><rect width="2276.7" height="60" x="120" y="220"></rect></g><g data-mml-node="mo" transform="translate(12071.8, 0)"><use xlink:href="#MJX-115-TEX-N-3D"></use></g><g data-mml-node="mi" transform="translate(13127.6, 0)"><use xlink:href="#MJX-115-TEX-N-63"></use><use xlink:href="#MJX-115-TEX-N-6F" transform="translate(444, 0)"></use><use xlink:href="#MJX-115-TEX-N-73" transform="translate(944, 0)"></use></g><g data-mml-node="mo" transform="translate(14465.6, 0)"><use xlink:href="#MJX-115-TEX-N-2061"></use></g><g data-mml-node="mn" transform="translate(14632.3, 0)"><use xlink:href="#MJX-115-TEX-N-30"></use></g><g data-mml-node="mo" transform="translate(15410, 0)"><use xlink:href="#MJX-115-TEX-N-3D"></use></g><g data-mml-node="mn" transform="translate(16465.8, 0)"><use xlink:href="#MJX-115-TEX-N-31"></use></g><g data-mml-node="mo" transform="translate(17243.6, 0)"><use xlink:href="#MJX-115-TEX-N-3D"></use></g><g data-mml-node="mn" transform="translate(18299.4, 0)"><use xlink:href="#MJX-115-TEX-N-31"></use><use xlink:href="#MJX-115-TEX-N-30" transform="translate(500, 0)"></use><use xlink:href="#MJX-115-TEX-N-30" transform="translate(1000, 0)"></use></g><g data-mml-node="mi" transform="translate(19799.4, 0)"><use xlink:href="#MJX-115-TEX-N-25"></use></g></g></g></svg></p>
  <p><del>所以你提交友链就是100%通过</del></p>
  <p>还没有人跟我提过友链的事...只要提交都会通过的...</p>
  <p><del>要不是Astro Pure有这个页面我是不会想着弄友链的...</del></p>

  <!-- apply-links -->
  <h2 id='apply-links'>Apply Links</h2>
  <p>本站信息如下 The site information（点击快速复制）：</p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>申请说明：</p>
  <ul>
    <li>博客内容不违反国家法律。</li>
  </ul>
  <p><del>我觉得这个要求已经足够了...</del></p>
  <Comment slot='bottom' />
</PageLayout>